<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReIFeição</title>

    <link rel="shortcut icon" href="../assets/img/icon/if.ico">
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static "css/style.css" %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="box_cp">
            <h2>Dados de Solicitação</h2>
            <form id="form">
                <div class="table_dados_req" id='table_dados'>
                    <b><label>Professor(a):</b>
                    <label  style="margin-left: -5px;">Kessia de Carvalho Silva</label>

                    <b><label style="margin-left: -12px;">Curso:</label></b>
                    <label style="margin-left: -5px;">ADS</label>

                    <b><label>Turma:</label></b>
                    <label style="margin-left: -5px;">P4</label>

                    <b><label>Data de Refeição:</label></b>
                    <label style="margin-left: -5px;">14/12/2020</label>

                    <b><label>Tipo de Refeição:</label></b>
                    <label style="margin-left: -5px;">Almoço</label>
                </div>
                <hr>
            </form>
            <form>
                <div class="table_process2" id='table_hw'>
                    <table width='100%' border='1' bordercolor='#000000'>
                        <th>Alunos</th>
                        <th>Matricula</th>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                        <tr>
                            <td>Kessia</td>
                            <td>20171230000</td>
                        </tr>
                    </table>
                </div>
            </form>
            <div class="btn_exit">
                <input style="margin-top: -69px;" onclick="printWindow()" type="submit" name="" value="Imprimir"></label>
                <input style="margin-top: -69px;" onclick="history.go(-1); return false;" type="submit" name="" value="Voltar"></label>
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>